rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function estaLogado() {
      return request.auth != null;
    }

    function isAdmin() {
      return estaLogado() &&
        request.auth.token.email in [
          'valbervjnascimento@gmail.com'
        ];
    }

    function ehDonoDoRecurso(professorId) {
      return estaLogado() && request.auth.uid == professorId;
    }

    match /professores/{professorId} {
      allow read: if estaLogado();
      allow create: if ehDonoDoRecurso(professorId);
      allow update, delete: if ehDonoDoRecurso(professorId) || isAdmin();
    }

    match /turmas/{turmaId} {
      allow read: if estaLogado();
      allow create: if estaLogado() && request.resource.data.professorId == request.auth.uid;
      allow update, delete: if isAdmin() ||
        (estaLogado() && resource.data.professorId == request.auth.uid);
    }

    match /alunos/{alunoId} {
      allow read: if estaLogado();
      allow create, update: if estaLogado();
      allow delete: if estaLogado() || isAdmin();
    }

    match /registros/{registroId} {
      allow read: if estaLogado();
      allow create: if estaLogado() && request.resource.data.professorId == request.auth.uid;
      allow update, delete: if isAdmin() ||
        (estaLogado() && resource.data.professorId == request.auth.uid);
    }
  }
}
